<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<style>
    .item {
        color: blue;
    }
</style>

<body>
    <div id="app">
        {{msg}}
        <!--  输出hello world  -->
        <div>
            <input type="text" v-model="info">
            <button @click="handleClick">添加</button>
            <!--绑定事件@click -->
        </div>
        <ul>
            <todo-item v-for='item in list' :item='item'></todo-item>
        </ul>
    </div>
    <script>
        Vue.component('todo-item', { // 自定义标签  定义了一个li标签
            props: ['item'], // 可以加更多的标签
            template: '<li class="item">{{item}}</li>'
        });
        var ve = new Vue({
            el: '#app',
            data() {
                return {
                    msg: 'hello world',
                    info: '',
                    list: []
                }
            },
            methods: {
                handleClick() {
                    this.list.push(this.info)
                    this.info = ''
                }
            },
        });
    </script>
</body>

</html>