<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="box">
        <div>水沟列表</div>
        <ul>
            <li v-for='item in fruits'>{{item}}</li>

            <li v-for='(item,index) in fruits'>{{item + '---'+ index}}</li>

            <li v-for='item in myFruits'>
                <span>{{item.ename}}</span>
                <span>---</span>
                <span>{{item.cname}}</span>
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: '#box',
            data: {
                fruits: ['apple', 'orange', 'banana'],
                myFruits: [{
                    ename: 'apple',
                    cname: '苹果'
                }, {
                    ename: 'orange',
                    cname: '橘子'
                }, {
                    ename: 'banana',
                    cname: '香蕉'
                }]
            }
        });
    </script>
</body>

</html>