<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<style>
    .grid {
        margin: auto;
        width: 530px;
        text-align: center;
    }

    .grid table {
        border-top: 1px solid #C2D89A;
        width: 100%;
        border-collapse: collapse;
    }

    .grid th,
    td {
        padding: 10;
        border: 1px dashed #F3DCAB;
        height: 35px;
        line-height: 35px;
    }

    .grid th {
        background-color: #F3DCAB;
    }

    .grid .book {
        padding-bottom: 10px;
        padding-top: 5px;
        background-color: #F3DCAB;
    }
</style>

<body>
    <div id="app">
        <div class="grid">
            <div>
                <h1>图书管理</h1>
                <div class="book">
                    <div>
                        <label for="id">
                            编号：
                        </label>
                        <input type="text" id="id" v-model='id' :disabled='flag'>
                        <label for="name">
                            名称：
                        </label>
                        <input type="text" id="name" v-model='name'>
                        <button @click='handle'>提交</button>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key='item.id' v-for='item in books'>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>
                            <a href="" @click.prevent='toEdit(item.id)'>修改</a>
                            <span>|</span>
                            <a href="" @click.prevent='deleteBook(item.id)'>删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                flag: false,
                id: '',
                name: '',
                books: [{
                    id: 1,
                    name: '三国演义',
                    date: ''
                }, {
                    id: 2,
                    name: '水浒传',
                    date: ''
                }, {
                    id: 3,
                    name: '红楼梦',
                    date: ''
                }, {
                    id: 4,
                    name: '西游记',
                    date: ''
                }]
            },
            methods: {
                handle: function () {
                    if (this.flag) {
                        // 编辑操作
                        // 就是根据当前的ID去更新数组中对应的数据
                        this.books.some((item) => { // =>找到父级Id 如果用function的话下面的this就指向了window
                            if (item.id == this.id) {
                                item.name = this.name;
                                // 完成更新操作之后，需要终止循环
                                return true;
                            }
                        });
                        this.flag = false;
                    } else {
                        // 添加图书
                        var book = {};
                        book.id = this.id;
                        book.name = this.name;
                        book.date = '';
                        this.books.push(book);
                        // 清空表单
                        this.id = '';
                        this.name = '';
                    }
                    this.id = '';
                    this.name = '';
                },
                toEdit: function (id) {
                    // 禁止修改ID
                    this.flag = true;
                    // 根据ID查询出要编辑的数据
                    var book = this.books.filter(function (item) {
                        return item.id == id;
                    });
                    // 把获取到的信息填充到表单
                    this.id = book[0].id;
                    this.name = book[0].name;
                },
                deleteBook: function (id) {
                    // 删除图书
                    // 根据id从数组中查找元素的索引
                    var index = this.books.findIndex(function (item) {
                        return item.id == id;
                    });
                    // 根据索引删除数组元素
                    this.books.splice(index, 1);
                }
            },
        });
    </script>
</body>

</html>